.instagram {
    background: #E2E5E8;
    display: flex;
    overflow: hidden;
}

.instagram > .container {
    display: flex;
    position: relative;
}

.instagram__text {
    margin-right: 126px;
    padding-top: 54px;
    padding-left: 30px;
}

.instagram__pictures {
    padding-top: 8px;
    display: flex;
}

.instagram__text h3 {
    width: 303px;
    margin-bottom: 66px;
}

.instagram__text a {
    text-decoration: none;
    text-transform: uppercase;
    color: #3CB156;
}

.instagram__pictures a:not(:first-child) {
    margin-left: -4px;
}

@media (max-width: 1409.98px) {
    .instagram__text {
        padding-top: 42px;
        padding-left: 166px;
        width: 299px;
        margin-right: 70px;
    }

    .instagram__text h3 {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 73px;
    }

    .instagram__text .title-small {
        font-size: 14px;
        line-height: 20px;
        margin-left: 11px;
    }

    .instagram__pictures {
        max-width: 648px;
    }

    .instagram__pictures img {
        width: 240px;
        height: 240px;
    }
}
@media (max-width: 1199.98px) {
    .instagram__text h3 {
        font-size: 24px;
        line-height: 30px;
        padding: 0;
        margin-bottom: 78px;
    }

    .instagram__text {
        padding: 40px 0 0 0;
        width: 241px;
        margin-right: 0;
    }

    .instagram__pictures img {
        width: 220px;
        height: 227px;
        margin-bottom: -4px;
    }

    .instagram__text a {
        white-space: nowrap;
    }

    .instagram__pictures {
        padding-top: 0;
    }

    .instagram__pictures a {
        text-decoration: none;
    }

    .instagram__text .title-small {
        padding-left: 0;
        margin-left: 0;
    }
}

@media (max-width: 767.98px) {
    .instagram > .container {
        flex-direction: column;
    }

    .instagram {
        flex-direction: column;
    }

    .instagram__text {
        padding: 0;
    }

    .instagram__text .title-small {
        padding-left: 16px;
        display: block;
        margin-bottom: 21px;
    }

    .instagram__text h3 {
        padding-left: 15px;
        margin-top: 26px;
        margin-bottom: 30px;
        font-size: 26px;
        line-height: 30px;
    }

    .instagram__pictures img {
        width: 121px;
        height: 128px;
    }
}

